h1,
p {
  font-family: "Roboto", sans-serif;
  left: 16px;
  position: absolute;
}
h1 {
  width: 488px;
  height: 27px;
  top: 15px;

  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
}

p {
  width: 587px;
  height: 204px;
  left: 16px;
  top: 67px;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

div {
  width: 619px;
  height: 283px;
  background: #c4c4c4;
}
